<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
  <div class="container">

  <h1><a href="{% url 'articles:index' %}" class="btn btn-dark">HOME</a></h1>
  <h3>{{ request.user }}님, 환영합니다.</h3>
  <hr>
    {% if user.is_authenticated %}
      <form action="{% url 'accounts:logout' %}" method="POST">
      {% csrf_token %}
      <button class="btn btn-outline-danger">logout</button>
      <a href="{% url 'accounts:update' %}" class="btn btn-outline-info">회원정보수정</a>
      <a href="{% url 'accounts:delete' %}" class="btn btn-outline-danger">회원탈퇴</a>
      </form>

    {% else %}
      <a href="{% url 'accounts:login' %}" class="btn btn-outline-primary">login</a>
      <a href="{% url 'accounts:signup' %}" class="btn btn-outline-primary">sign up</a>
    {% endif %}

    <hr>
    {% block content %}
    {% endblock content %}

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>